<div class="row">
    {% for member in __SELF__.members %}
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
        <div class="team-block">
            <div class="team-img">
                <img src="{{ member.profileImage.getPath() }}" alt="">
                <div class="team-content">
                    <h4 class="text-white mb0">{{ member.name }}</h4>
                    <p class="team-meta">{% if member.role|length %}- {{ member.role }}{% endif %}</p>
                </div>
                <div class="overlay">
                    <div class="team-text">
                        <h4 class="mb0 text-white">{{ member.name }}</h4>
                        <p class="mb30 team-meta">{% if member.role|length %}- {{ member.role }}{% endif %}</p>
                        <p>{{ member.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% put styles %}
<style>
    .team-block {
        width: 100%;
        padding-bottom: 133%;
        margin-bottom: 20px;
        position: relative;
    }

    .team-content {
        position: absolute;
        background-color: rgba(17, 24, 31, 0.8);
        bottom: 0;
        display: inline-block;
        width: 100%;
        color: #fff;
        padding: 30px;
    }

    .team-img {
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        overflow: hidden;
    }

    .team-img img {
        display:block;
        margin:auto;
        position: relative;
        min-width: 100%;
        height: 100%;
    }

    .team-meta {
        color: #9da4aa;
        font-weight: 400;
        font-size: 16px;
    }

    .overlay {
        border-radius: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 1s ease;
        background-color: #11181f;
    }

    .team-img:hover .overlay {
        opacity: .8;
    }

    .team-img:hover .team-content {
        opacity: 0;
    }

    .team-text {
        color: #fff;
        position: absolute;
        top: 30%;
        left: 30%;
        transform: translate(-26%, -26%);
        -ms-transform: translate(-26%, -26%);
        right: 0;
    }

    .team-text p{
        font-size: 13px;
    }
</style>
{% endput %}