
.team-block {
    width: 100%;
    padding-bottom: 133%;
    margin-bottom: 20px;
    position: relative;
}

.team-content {
    position: absolute;
    background-color: rgba(17, 24, 31, 0.8);
    bottom: 0;
    display: inline-block;
    width: 100%;
    color: #fff;
    padding: 30px;
}

.team-img {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    overflow: hidden;
}

.team-img img {
    display:block;
    margin:auto;
    position: relative;
    min-width: 100%;
    height: 100%;
}

.team-meta {
    color: #9da4aa;
    font-weight: 400;
    font-size: 16px;
}

.overlay {
    border-radius: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-color: #11181f;
}

.team-img:hover .overlay {
    opacity: .8;
}

.team-img:hover .team-content.hoverable {
    opacity: 0;
}

.team-text {
    color: #fff;
    position: absolute;
    padding: 15px 25px;
    top: 0;
}

.team-text p{
    font-size: 13px;
}