<div class="row">
    <div class="col-md-4 col-lg-3">
        <img src="{{ __SELF__.member.profileImage.getPath() }}"
             style="width: 255px; margin-left: auto; margin-right: auto; margin-bottom: 10px; display: block; max-width: 100%"
             class="img-responsive">
    </div>

    <div class="col-md-8 col-lg-9">
        <h1>{{ __SELF__.member.name }}</h1>
        {% if __SELF__.member.role|length %}
        <h3 class="grey">{{ __SELF__.member.role }}</h3>
        {% endif %}
        {% if __SELF__.tags %}
        <h5>{{ __SELF__.tags|join(', ', ' and ') }}</h5>
        {% endif %}
        <p>{{ __SELF__.member.description }}</p>
    </div>
</div>